* {
   margin: 0px;
   padding: 0px;
}

.cartButton {
   background: #6dabb0 !important;
   color: white !important;
   box-shadow: 6px 9px 15px -3px rgba(0, 0, 0, 0.3);
   width: 182px;
   height: 50px;
   font-size: 18px;
}

.cartButton:hover {
   background-color: white !important;
   color: #6dabb0 !important;
}

#cart-text {
   text-align: left;
}

.cartIMG {
   width: auto;
   height: 108px;
   display: fit;
}

.intro {
   background: #fff;
   padding: 60px 30px;
   color: #333;
   margin-bottom: 15px;
   line-height: 1.5;
   text-align: center;
}

.intro h1 {
   font-size: 18pt;
   padding-bottom: 15px;

}

.intro p {
   font-size: 14px;
}

.action {
   text-align: center;
   display: block;
   margin-top: 20px;
}

.github:before {
   content: "\f09b"
}

.down:before {
   content: "\f019"
}

.back:before {
   content: "\f112"
}

.credit {
   background: #fff;
   padding: 12px;
   font-size: 9pt;
   text-align: center;
   color: #333;
   margin-top: 40px;

}

.credit span:before {
   font-family: FontAwesome;
   color: #e41b17;
   content: "\f004";


}

.credit a {
   color: #333;
   text-decoration: none;
}

.credit a:hover {
   color: #1DBF73;
}

.credit a:hover:after {
   content: "\f08e";
   font-size: 9pt;
   position: absolute;
   margin: 3px;
}


.top-bar {
   background: #053d42 !important;
   *zoom: 1;
   overflow: visible;
}

.set-overlayer,
.set-glass,
.set-sticky {
   cursor: pointer;
   height: 45px;
   line-height: 45px;
   padding: 0 15px;
   color: #333;
   font-size: 16px;
}



.set-overlayer:after,
.set-glass:after,
.set-sticky:after {
   content: "\f204";
   transition: .6s;
}

.to-active:after {
   content: "\f205";
   color: #008080;
   transition: .6s;
}

.set-overlayer,
.set-glass,
.set-sticky,
.source,
.theme-tray {
   margin: 10px;
   background: #f2f2f2;
   border-radius: 5px;
   border: 2px solid #f1f1f1;
   box-sizing: border-box;
}

/* Syntax Highlighter*/

pre.prettyprint {
   padding: 15px !important;
   margin: 10px;
   border: 0 !important;
   background: #f2f2f2;
   overflow: auto;
}

.source {
   white-space: pre;
   overflow: auto;
   max-height: 400px;
}

code {
   border: 1px solid #ddd;
   padding: 2px;
   border-radius: 2px;
}

nav {
   margin-bottom: 1em !important;
}

.cart {
   box-shadow: 0 0 5px #DDD;
   padding: 20px;
}
.row {
   width: 120%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0;
   margin-bottom: 0;
   max-width: 70rem;
}