.productCol {
  background-color: #e6e6e6;
  border: 1px solid black;
  border-radius: 12px;
  margin-bottom: 2%;
  margin-top: 2%;
}
.lista {
  list-style: none;
  padding-right: 4%;
  padding-left: 4%;
}

.productImg {
  max-width: 100%;
  height: 300px;
  margin: auto;
  background-color: transparent;
  mix-blend-mode: multiply;
  filter: contrast(1);
  object-fit: scale-down;
}

.productButton {
  background-color: #6dabb0;
  color: white;
  box-shadow: 6px 9px 15px -3px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  height: 50px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 8%;
}

.productButton:hover {
  background-color: white;
  color: #6dabb0;
}

.productInfo {
  background-color: transparent;
  width: auto;
  text-align: left;
  color: black;
  width: auto;
  height: auto;
  padding-top: 10px;
  font-size: 14px;
}

p {
  margin: 0;
  padding: 0;
}

.productBorder {
  border: 1px solid black;
  background-color: #e6e6e6;
  border-radius: 20px;
  max-width: 24rem;
}
