.ourProductHeader {
    padding-bottom: 6%;
}

.productCol {
    background-color: #e6e6e6;
    border: 2px solid black;
    border-radius: 12px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.listaBanner {
    list-style-type: none;
}

.listaAlinha {
    display: inline;
}

.bannerImg {
    width: 80%;
    height: 80%;
    margin-left: -30%;
}

.bannerButton {
    background-color: #6dabb0;
    color: white;
    box-shadow: 6px 9px 15px -3px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 40px;
    font-size: 16px;
    margin-top: 4%;
    border-radius: 50px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.bannerButton:hover {
    background-color: white;
    color: #6dabb0;
}

p {
    margin: 0;
    padding: 0;
}

.bannerDiv {
    background-color: #053d42;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textMainBanner {
    padding: auto;
    margin: auto;
    text-align: center;
    color: white;
}


.textProductBanner {
    color: white;
    text-align: right;
    padding-right: 8%;
}


#mission {
    margin: 20%;
}

@media screen and (max-width: 576px) {
    #mission {
        margin: 5% !important;
        size: 16px;
    }
}

@media screen and (max-width: 375px) {
    #mission {
        margin: 10px !important;
        size: 12px;
    }
}