@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/monomaniac-one");

* {
    padding: 0%;
    margin: 0%;
    font-family: "Montserrat";
}

.h2 {
    font-size: 3rem;
    font-weight: 600;
}

#h2-black {
    color: #000;
}

#h2-white {
    color: #fff;
}

#Other-font {
    font-family: "Monomaniac One";
}

.p {
    font-size: 2rem;
    font-family: "Montserrat";
    font-weight: 300;
    line-height: 20px;
}

#p-white {
    color: #fff;
}

#p-black {
    color: #000;
}

.ul {
    font-size: 2rem;
    font-family: "Montserrat";
    font-weight: 300;
    line-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#ul-white {
    color: white;
}

#ul-black {
    color: black;
}
#icon {
    fill: #fff;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.nav-item {
    padding-left: 3rem !important;
}
